.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: bold;
}

.header > span:not(:last-child) {
  min-width: 20px;
  flex: 1;
}

.header > span:last-child {
  width: 200px;
}

c-account-team-commission-list-row {
  padding-bottom: 3px;
  border-bottom: 1px solid #d3d3d3;
}
