.container {
  background-color: #f8f8f8;
  border-radius: 0.25em;
  border: 1px solid var(--lwc-colorBorder, #dddbda);
  padding: 8px 12px;
}

h1 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
