.percentage {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > span {
  min-width: 20px;
  flex: 1;
}

.row > span:last-child {
  min-width: 40px;
  flex: 3;
}
