.percentage {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  border-radius: 0.25em;
}

.row > span:not(:last-child) {
  min-width: 20px;
  flex: 1;
}

.row > span:last-child {
  width: 200px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.slider-wrapper {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(12rem - 1.8125rem); /* 12rem for x-small - .8125 font-size - 0.5x2 padding */
}

/* disable HTML number input stepper */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number'] {
  border: none;
  height: 20px;
  border-radius: 0.25em;
  width: 2.5em;
}

.error {
  box-shadow: 0 0 5px 1px #d9534f;
}

.errorMsg {
  color: #d9534f;
  font-size: 12px;
  margin-top: 5px;
}
